@{
    ViewBag.Title = "পৃষ্ঠাটি পাওয়া যায়নি";
}

<h2>৪০৪ সমস্যা</h2>
<p>সাইটের পরিবর্তন বা অন্য কোন কারনে আপনি যা খুঁজছেন তা পাওয়া গেল না। 
   <a href="/">নীড়পাতায়</a> গিয়ে অনুসন্ধান সুবিধা ব্যবহার করতে পারেন।
</p>