<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to BanglaChord Web API!</h1>               
            </hgroup>
            <p>
                This interface is only for internal use by Android and iOS application for Banglachord.
                Under normal circumstances, you should not be viewing this. To learn more about
                the applications, please visit the main <a href="http://www.banglachord.com">Banglachord</a> website.
            </p>
        </div>
    </section>
</div>
